body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0.5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-family: "poppins";
  gap: 10px;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.1cap;
}

.logo img {
  width: 130px;
}

.profile-image {
  width: 30px;
  height: auto;
}

.sidebar {
  background-color: #ffffff;
  padding-top: 60px;
  width: 14%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(0px -2px 8.7px rgba(0, 0, 0, 0.47));
  user-select: none;
}

.sidebar-img {
  padding: 20px;
  width: 10%;
}

.overview,
.create-quiz,
.profile,
.Customer_support {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 20px;
  cursor: pointer;
}

.content {
  margin-left: 17%;
  padding-top: 80px;
  margin-right: 2%;
  /* width: calc(100% - 14%); */
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px 0 0 50px;
  width: 100%;
}

.menu-item.active {
  background-color: #d0e1ff;
}

.active-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: #a5c2ff;
  transition: top 0.3s ease;
}

.last-questioneer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 10%;
  padding-left: 2%;
  /* margin: fit-content; */
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 140px;
}

.card0 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-right: 2%;
  margin-right: 6px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card1 {
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  margin-left: 4%;
  cursor: pointer;
}

.card1 img {
  width: 50%;
  height: auto;
}

.card2 {
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  margin-left: 4%;
  display: flex;
  width: 24%;
  height: 140px;
}

.Customer_support-img {
  width: 23%;
  height: auto;
}

.underline {
  text-decoration: none;
  border-bottom: 3px dotted;
}

.card {
  font-size: 1.3rem;
  margin: 0;
}

.container-options-recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #00000079;
  text-align: left;
  padding: 8px;
  background: rgba(4, 44, 255, 0.14);
  border-collapse: collapse;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

th {
  background: rgba(4, 44, 255, 0.14);
  text-align: center;
  color: #00000099;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(104, 11, 255, 0.12);
  overflow: auto;
}

.inner-white {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 3%;
  padding-left: 3%;
  margin: 10px;
  border-radius: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 3%;
}

.white-container {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 3%;
  padding-left: 3%;
  margin: 10px;
  border-radius: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: fit-content;
}

.blue-container {
  background-color: #d0e1ff;
  padding: 10px;
  padding-right: 3%;
  padding-left: 3%;
  margin: 10px;
  border-radius: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 3%;
  height: 60vh;
  border: 1px solid #00000079;
  height: fit-content;
}

.white-container-2 {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 3%;
  padding-left: 3%;
  margin: 10px;
  border-radius: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 3%;
  height: 50vh;
  border: 1px solid #00000079;
  height: fit-content;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 0px 1.4px 1px rgba(0, 0, 0, 0.45),
    0px 3px 1.1px -1px rgba(0, 0, 0, 0.25);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #00ff29;
}

input:focus+.slider {
  box-shadow: 0 0 1px #00ff29;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.schedule,
.time-limited {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.disabled-cursor {
  cursor: not-allowed;
}

.quiznameimg {
  width: 2.5%;
  height: auto;
}

.quiz-name {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "poppins";
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.mcq-question,
.short-question {
  margin-top: 2%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e8e8ff;
  border-radius: 10px;
  padding-bottom: 2%;
}

#question-container label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-top: 1%;
}

#question-container input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5%;
}

.options {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

input[type="date"] {
  width: fit-content;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5%;
  font-family: "poppins";
}

.note {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.time-limit,
#second {
  width: fit-content;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5%;
  font-family: "poppins";
}

.main-details {
  display: flex;
  flex-direction: column;
}

#submit {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

#question-container div {
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.add-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 1%;
}

.profilearea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 1%;
}

.profileareacontent {
  text-align: end;
}

.profileareacontent h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "poppins";
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.name_of_quiz {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "poppins";
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 15px;
  width: 10%;
  overflow: scroll;
}

#feedback {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}


.container3 {
  display: flex;
  justify-content: space-between;
  padding-left: 11%;
  padding-right: 11%;
}

.contact-info,
.contact-form {
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  color: #000000;
  margin-top: 7%;
}

.contact-info h1 {
  margin: 0;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.title {
  font-size: 18px;
  margin: 1% 0 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 6%;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.contact-details {
  margin-top: 8%;
}

.contact-details p {
  margin: 20px 0;
  font-size: 14px;
}

.contact-details p i {
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 16px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2%;
}

.contact-form input,
select {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 22vh;
  resize: none;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-details i {
  color: #007bff;
}

.line {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus,
.contact-form option:focus,
.contact-form .submit:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 15px rgba(122, 120, 255, 0.626);
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 10px;

}

.country-code {
  padding: 7.5px;
  font-size: 16px;
  width: 32%;
  margin-right: 1%;
}

.phone-number {
  padding: 10px;
  font-size: 16px;
  flex: 1;
}


/* Hide the sidebar by default on mobile */
.sidebar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  cursor: pointer;
  position: fixed;
  top: 22%;
  left: 20px;
  z-index: 1000;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .hamburger-menu {
    display: block;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .container-options-recent {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    /* Full width in mobile view */
    margin-bottom: 20px;
    /* Space between cards */
    padding: 5%;
  }

  .card1 img {
    width: 30%;
  }
}